:root {
  font-size: 16px;
}

body {
  text-align: center;
  padding-top: 1.5em;
  font-family: "Roboto Slab", sans-serif;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4em;
}

fieldset {
  border: 2px solid black;
}

select,
option,
textarea,
input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 1em;
  border: 2px solid black;
}

:focus,
button:hover,
.toggle-button:focus > .toggle-button__clickable,
.toggle-button__clickable:hover {
  border-color: 4px solid black;
  box-shadow: 0 0 0 0.2em #c6c6c6;
}

input[type="text"],
input[type="email"] {
  padding-left: 2em;
  width: 25em;
}

#number {
  min-width: unset;
  width: 5em;
}

label {
  text-transform: capitalize;
}

legend {
  text-transform: capitalize;
  text-align: left;
  padding: 0 0.5em;
}

small {
  font-size: 75%;
  opacity: 0.8;
}

#survey-form {
  border: 2px solid black;
  padding: 2em;
  max-width: 48em;
}

#title {
  margin-bottom: 0;
}

.form-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.form-field > label {
  margin-right: 2em;
}

.form-field.always-mobile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.form-field.always-mobile label {
  margin-bottom: 0.75em;
}

.stack > * + * {
  margin-top: 1.5rem;
}

.stack > fieldset {
  margin-top: 2.5em;
}

.stack > fieldset ~ fieldset {
  margin-bottom: 2.5em;
}

.toggle-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: stretch;
  grid-gap: 1em;
  align-items: stretch;
  padding: 1em 1em 2em 1em;
}

.toggle-button {
  cursor: pointer;
  text-align: center;
}

.toggle-button:focus {
  border: none;
  box-shadow: none;
}

.toggle-button input[type="radio"],
.toggle-button input[type="checkbox"] {
  display: none;
}

.toggle-button__clickable {
  border: 2px solid grey;
  height: 100%;
  opacity: 0.5;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 0.75em;
}

input:disabled ~ .toggle-button__clickable {
  background: #f9f9f9;
  cursor: not-allowed;
  text-decoration: line-through;
}

.toggle-button__clickable:focus,
.toggle-button__clickable:hover {
  border-color: black;
  opacity: 0.6;
}

input:checked ~ .toggle-button__clickable {
  border-color: black;
  opacity: 1;
}

.toggle-button__clickable__icon {
  display: block;
  font-style: unset;
  font-size: 1.5em;
  margin: 0.5em 0;
}

.toggle-button__text {
  flex-grow: 1;
  display: table-cell;
  vertical-align: center;
}

.readable-width {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

label[for="additional-comments"] {
  align-self: flex-start;
}

.button,
button,
input[type="button"] {
  background: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 1em 4em;
  border: 2px solid black;
}

@media (max-width: 680px) {
  .form-field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  .form-field label {
    margin-bottom: 0.5em;
  }

  .toggle-button-container {
    grid-template-columns: 100%;
    row-gap: 2.5em;
    padding-top: 0.5em;
  }
}

#submit {
  margin-top: 4em;
  margin-bottom: 2em;
  width: 100%;
}
